<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome to twig</title>
  
    </head>
    <body>
     <h3>Hello welcome to this page</h3>
     <h4>{{user_name}}</h4>
    </body>
</html>
